<!-- ***  ***
   ***  后端ejs模板，提供给html-webpack-plugin中间件使用，为server/views 生成相应的后端ejs文件，避免每增加一个路由,就要手动添加页面。
   ***  同时可以自动生成文件名，方便修改文件名
 ***-->

<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>    
     
     
       <link href = "/dist/css/animationEntry.css" rel="stylesheet">
     

</head>
<body>
    <div id="app"><%-global%></div>
</body>
    <script type="text/javascript" src="/assets/js/react.js"></script>
    <script type="text/javascript" src="/assets/js/react-dom.js"></script>

    
        <script type="text/javascript"  src= "/dist/js/animationEntry.js"></script>
    

</html>