//菜单
.avatar{
    position:relative;
    float:left;
    width:40px;
    height:40px;   
    margin-top:9px; 
    img {
        float:left;
        border-radius: 50%;
        width: 100%;
    }
}